# Managed by Ansible - Hardened SSH Config

# Security Settings
PermitRootLogin {{ linux_security_sshd_permit_root_login }}
PasswordAuthentication {{ linux_security_sshd_password_authentication }}
PubkeyAuthentication {{ linux_security_sshd_pubkey_authentication }}
PermitEmptyPasswords no
MaxAuthTries {{ linux_security_sshd_max_auth_tries }}

ListenAddress {{ linux_security_sshd_listen_address }}
{% if linux_security_sshd_allow_users | length > 0 %}
AllowUsers {{ linux_security_sshd_allow_users | join(' ') }}
{% endif %}

# Logging
SyslogFacility AUTHPRIV
LogLevel VERBOSE

# Restrictions
AllowTcpForwarding {{ linux_security_sshd_allow_tcp_forwarding }}
X11Forwarding {{ linux_security_sshd_x11_forwarding }}
PrintMotd no

# Additional Security Settings
ClientAliveCountMax 2
MaxSessions 2
TCPKeepAlive no
AllowAgentForwarding no
