# Automatically enter the Nix dev shell when cd-ing into this directory.
# Requires direnv (https://direnv.net).
use flake

# Source the project venv if it exists (created by `make venv` or manually).
dotenv .env 2>/dev/null || true
if [ -d ".venv" ]; then
  PATH_add ".venv/bin"
fi

# Ansible paths
export ANSIBLE_CONFIG="$(pwd)/ansible.cfg"
export ANSIBLE_ROLES_PATH="$(pwd)/roles"
export ANSIBLE_INVENTORY="$(pwd)/inventories"
export ANSIBLE_VAULT_PASSWORD_FILE="$HOME/.vault_pass"
export ANSIBLE_COLLECTIONS_PATH="$(pwd)/collections"
