alias ls='ls --color=auto'
alias ll='ls -alF --color=auto'
alias la='ls -A --color=auto'
alias l='ls -CF --color=auto'
alias compose='docker compose'

gema() {
  cd ~/agents/arciero-agent
  gemini
}
aga() {
  cd ~/agents/arciero-agent
}
