# {{ ansible_managed }}

[user]
	name = Stephen Macabulos
	email = myteseeker18@gmail.com

[credential]
	helper = manager

[credential "https://github.com"]
	credentialStore = {{ linux_neovim_gcm_store | default('secretservice') }}